body { font-family: 'Poppins', sans-serif; color: #4B4B4B; }
h1, h2, h3 { margin: 0; font-weight: 600 }
header { font-weight: 600 }
a { color: ##008DD5 }
a:hover  {  text-decoration: none; color: ##008DD5 }
a:focus, a:active  {  outline: none; text-decoration: none; color: ##008DD5 }
img {  max-width: 100%; height: auto }
ul {  margin: 0; padding: 0 }
li {  list-style: none; }
p {  font-size: 15px; line-height: 1.65em; color: #4B4B4B; font-weight: 400 }
.relative { position: relative; }
.display_block { display: block; }
.no_padding { padding: 0 }
.ptb-1em{padding:1em 0}.ptb-2em{padding:2em 0}.ptb-3em{padding:3em 0}.ptb-4em{padding:4em 0}.ptb-5em{padding:5em 0}.ptb-6em{padding:6em 0} .pt-1em{padding-top:1em}.pt-2em{padding-top:2em}.pt-3em{padding-top:3em}.pt-4em{padding-top:4em}.pt-5em{padding-top:5em}
.pt-6em{padding-top:6em}.pb-1em{padding-bottom:1em}.pb-2em{padding-bottom:2em}.pb-3em{padding-bottom:3em}.pb-4em{padding-bottom:4em}.pb-5em{padding-bottom:5em}.pb-6em{padding-bottom:6em}.mr-8{margin-right:8px}.ml-8{margin-left:8px}
a.button { background: #008DD5; color: #fff; line-height: 45px; border: none; display: inline-block; border-radius: 5px; font-size: 15px; font-weight: 600; padding: 0 2em; margin-top: 15px }
a.button.outline { color: #008DD5; background: none; border: solid 1px #008DD5 }
a.button.white { background: #fff; color: #008DD5; }
/*video styling*/
#container { overflow: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
#background_video {	position: absolute;	top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%);	object-fit: cover;height: 100%; width: 100%; }
#video_cover { position: absolute; width: 100%; height: 100%;	background: url('../img/video_cover.jpg') no-repeat; background-size: cover; background-position: center; }
/*navigation*/
.navbar { border: none; margin-bottom: 0; border-radius: 0 }
.navbar-brand { height: auto; }
.nav>li>a { color: #015391; text-transform: uppercase; font-weight: 600 }
.nav>li>a:hover, .nav>li>a:focus { background: none }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background: none }

.text_land_sea_air { position: absolute; top: 22%; width: 100% }
.centertxt { margin: 0 auto; max-width: 885px; text-align: center }
.text_land_sea_air h1 { font-size: 9em; color: #fff; font-weight: 600 }
.text_land_sea_air span { display: inline-block; }
span.helper_txt { font-size: 24px; font-weight: 500; color: #013466; margin-right: 20px; padding-left: 10px }
span.color_bar { background: #1361AB; height: 17px; width: 373px; position: relative }
span.color_bar:after { content: ''; height: 17px; width: 30px; background: #1361AB; position: absolute; right: -10px; transform: skew(30deg); }
.downarrow { position: absolute; text-align: center; width: 100%; bottom: 15%; }
/*homepage*/
.aaw-services-list { background: url('../img/aaw-bg-01.jpg') no-repeat top center; background-size: cover; margin-top: 1px }
.aaw-services-list header { font-size: 22px; color: #fff; text-transform: uppercase; font-weight: 600; padding-bottom: 10px }
.aaw-services-list p, .aaw-services-list * { color: #fff }
ul.home-services-lists { margin-top: 2.5em }
.home-services-lists li { display: inline-block; width: 49.0%; vertical-align: top; position: relative; padding: 0 0 20px 30px }
.home-services-lists li:before, ul.objective_list li:before, .visibility_info li:before { content: ''; background: url('../img/lb-bullet-point.svg') no-repeat 0 0; width: 15px; height: 11px; left: 0; top: 6px; position: absolute; }
.home-services-lists li>a { font-size: 19px; font-weight: 600 }
.home-services-lists li>a:hover, .home-services-lists li>a:focus { color: #fff }
.years-in-logistic header, .coverage_content header { padding: 40px 0 30px }
header.mini_bold_header { font-size: 17px; font-weight: 700; color: #008DD5; text-transform: uppercase; }
header.blue_bold { font-size: 1.80em; color: #008DD5; font-weight: 600; padding: 1em 0 2em; }
h2.h2 { color: #000; font-size: 2.5em; font-weight: 600; line-height: 1.5em }
ul.objective_list li { position: relative; color: #008DD5; font-size: 1.8em; font-weight: 600; padding: 0 0 20px 22px }
ul.objective_list li:before { top: 10px }
.left_year { margin-bottom: 3em }
.left_year p, .coverage_content p { line-height: 2.2em }
.CountYears { position: absolute; width: 100%; text-align: center; top: 40px; z-index: 11 }
.CountYears>div { display: inline-block; vertical-align: middle; }
.year_count { margin: 0 auto; max-width: 580px }
.count_number { font-size: 5.7em; font-weight: 600; color: #000; border: solid 6px #008DD5; background: #fff; padding: 5px 15px }
.year_txt { font-size: 20px; text-align: left; color: #000; font-weight: 500; margin-left: 10px }
.globe_vector { margin-bottom: 3em }
.rotating_globe { text-align: center; overflow: hidden; margin: 0 auto; max-width: 520px }
.rotating_globe img.fixed_globe { position: relative; top: 0; left: 0 }
.rotating_globe img.rotating_vector { position: absolute; top: 0; left: 0 }
img.rotating_vector { -webkit-animation: spin 120s linear infinite; -moz-animation: spin 120s linear infinite; animation: spin 120s linear infinite; }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.visibility_info li { color: #000; font-size: 17px; font-weight: 600; position: relative; padding: 0 0 10px 25px }
.visibility_info li:before { top: 5px }

.slidewrapper { height: 100%; right: 0; top: 0; position: fixed; width: 300px; background: #F7F7F6; z-index: 1101; display: none; box-shadow: -5px 0 3px rgba(0,0,0,0.1); overflow: scroll }
/*sliding sidebar*/
.fade-overlay { background: rgba(255,255,255,0.6); height: 100%; width: 100%; position: absolute; z-index: 1100; overflow: hidden; display: none; left: 0; top: 0 }
body.overflow_hidden { overflow: hidden }
.close-wrapper-box, .heading_quick_contact { padding: 20px 20px 10px }
.close-wrapper-box a { font-size: 12px; color: #52778C; background: #d6d6d6; display: inline-block; height: 20px; width: 20px; line-height: 21px; text-align: center; border-radius: 50px }
.heading_quick_contact strong { display: inline-block; font-size: 17px; text-transform: uppercase; color: #000; font-weight: 600; border-bottom: solid 5px #008DD5; padding-bottom: 5px }
.contact-list-box li { padding: 15px 20px; border-bottom: solid 1px #d5d5d5; background: url('../img/thin-right-arrow-dark.svg') no-repeat 225px 28px }
.contact-list-box li:last-child { border-bottom: none }
.contact-list-box li span { display: block }
span.office_location a { font-size: 1.4em; font-weight: 600; text-transform: uppercase; }
span.office_tel a { color: #313131; font-size: 1.1em; display: inline-block; padding-bottom: 10px; padding-top: 4px }
span.link_to_contact a { text-transform: uppercase; font-size: 0.9em; font-weight: 600; color: #706F6F }

.left_img_col {  padding-left: 0 }
.plane_bg { background: url('../img/aeroplane-pic-dots.jpg') no-repeat bottom right; background-size: cover; min-height: 725px; }
.coverage_content { max-width: 540px }

.aaw-offices { background: url('../img/map-background.jpg') no-repeat top center; background-size: cover }
.officesname header { color: #00A7FF; font-size: 1.8em; font-weight: 600; text-transform: uppercase; padding-bottom: 1.3em }
.officelist, .officelist li { position:relative; }
.officelist:before { content: ''; position: absolute; top: 0; height: 96%; width: 1px; background: #00A7FF; left: 5px; z-index: 12; top: 5px }
.officelist li { padding: 0 0 20px 30px }
.officelist li:before { content: ''; background: #00A7FF; height: 10px; width: 10px; border-radius: 100px; left: 0; position: absolute; box-shadow: 0 0 0 5px #005888; z-index: 11; top: 5px; }
.officelist li:last-child { padding-bottom: 0 }
.officelist li a.show_office_pin { color: #00A7FF; text-transform: uppercase; font-weight: 600 }
.officelist span { display: none; color: #fff; padding-top: 5px; }
.officelist span>a { color: #fff }
.officelist li:first-child span { display: block }

.map-pins { position: absolute; background: #fff; border: solid 5px #052B47; border-radius: 150px; height: 85px; width: 85px; }
.map-pins span { font-weight: 700; font-size: 12px; text-transform: uppercase; position: absolute; top: 50%; width: 100%; text-align: center; transform: translate(0,-50%); color: #062B47 }
.map-pins span>em { font-style: normal; display: block; font-size: 10px }
.map-pins:before { content: ''; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 20px solid #052B47; position: absolute; bottom: -20px; left: 50%; transform: translate(-50%,0); z-index: 11 }
.map-pins:after { content: ''; width: 20px; height: 10px; background: rgba(0,0,0,0.8);	-moz-border-radius: 100px / 50px;	-webkit-border-radius: 100px / 50px;	border-radius: 100px / 50px; position: absolute; bottom: -27px; left: 50%; transform: translate(-50%,0); -webkit-filter: blur(1px);   -moz-filter: blur(1px);  -o-filter: blur(1px);  -ms-filter: blur(1px);  filter: blur(1px); }
.state_map { min-height: 652px; background: url('../img/australia-map.png') no-repeat top center; background-size: cover }
.map-pins.active { border-color: #00A7FF }
.map-pins.active:before { border-top: 20px solid #00A7FF; }

/*pin co-ordinates*/
#melbourne { bottom: 24%; right: 35%; }
#sydney { bottom: 32%; right: 27%; width: 75px; height: 75px }
#brisbane { bottom: 47%; right: 22% }
#adelaide { bottom: 34%; right: 42%; width: 80px; height: 80px; }
#fremantle { bottom: 40%; right: 75% }
#townsville { bottom: 66%; right: 29.5%; width: 95px; height: 95px; }
#darwin { bottom: 82%; right: 53%; width: 100px; height: 100px; }
#mildura { bottom: 42%; right: 34%; width: 75px; height: 75px }
#launceston { bottom: 11%; right: 31%; width: 80px; height: 80px }

.request-quote-block { padding: 2em 0; background: #008DD5; margin: 2px 0 }
.request-quote-block h2 { color: #fff; font-size: 1.9em; padding-top: 10px; font-weight: 600 }
.request-quote-block a.button.white { background: #fff; color: #008DD5; margin-top: 0; font-size: 18px }

/*footer*/
footer.main-footer { background: url('../img/footer-background.jpg') no-repeat 0 0; background-size: cover }
footer.main-footer *, .go-tracking p { color: #fff }
.footer_widget h3 { color: #fff; font-weight: 600; text-transform: uppercase; font-size: 1.3em; position: relative; letter-spacing: 1px; margin-bottom: 2em }
.footer_widget h3:after { content: ''; height: 1px; width: 82px; background: #fff; position: absolute; bottom: -10px; left: 0; }
.footer_widget li { padding: 0 0 10px }
.footer_widget li a { color: #fff }
.copyright>div, .footer-terms a { display: inline-block; vertical-align: top }
.copyright h4 { font-size: 15px; padding-top: 10px }
.copy-left { padding-right: 30px }
.footer-terms a { border-right: solid 1px rgba(255,255,255,0.4); padding: 0 10px; font-size: 11px }
.footer-terms a:first-child { padding-left: 0 }
.footer-terms a:last-child { padding-right: 0; border-right: none }
.site_by { padding-top: 2em }
.site_by a { color: rgba(255,255,255,0.6); font-size: 12px }

/*services pages*/
.train-boat { max-width: 350px }
.train-boat:after { content: ''; height: 4px; background: #C7CFD5; bottom: -3px; width: 5000%; right: 38px; position: absolute; border-radius: 50px }

h1.big-title { font-size: 3.4em; color: #002A57; font-weight: 600;  line-height: 1.3em; position: relative; }
.services h1.big-title { max-width: 75%; }
.services_lists header { color: #000; text-transform: uppercase; font-weight: 600; font-size: 18px; position: relative; padding-top: 15px  }
.services_lists header:before { content: ''; height: 5px; background: #008DD5; width: 80px; position: absolute; top: 0; left: 0; }
.services_lists ul { margin-top: 2em }
.services_lists li { position: relative; margin-bottom: 10px }
.services_lists li>a { color: #095591; font-size: 16px; padding: 8px 15px 8px 25px; display: block; font-weight: 600; position: relative; }
.services_lists li>a:before { content: ''; background: url('../img/db-bullet-point.svg') no-repeat 0 0; width: 15px; height: 11px; left: 0; top: 13px; position: absolute; }
.services_lists li.current-cat a { background: #F0F0F0; padding-left: 45px; color: #008DD5 }
.services_lists li.current-cat a:before { background: url('../img/lb-bullet-point.svg') no-repeat 0 0; left: 15px }
.services_lists li.current-cat a:after { content: ''; background: #fff; width: 28px; height: 100%; display: block; position: absolute; right: -15px; top: 0; transform: skew(30deg); }
.request_quote_button { background: url('../img/dot_pattern.jpg') repeat; padding: 3em 2.5em 3em 0; margin: 3em 0; max-width: 480px }
.request_quote_button:before { content: ''; position: absolute; left: 0; top: 0; display: block; height: 100%; width: 22px; background: #fff }
.quote_btn { background: #008DD5; padding: 2em; position: relative; }
.quote_btn header { text-align: center; font-size: 1.6em; color: #fff; font-weight: 600; text-transform: uppercase; padding-bottom: 0.5em }
.quote_btn a.button.white { display: block; text-align: center; color: #000; line-height: 40px }
.services-content-box h2 { color: #008DD5; font-size: 2.8em; padding-bottom: 0.5em }
.service_content_block h3 { color: #000; padding: 1em 0 0.8em; font-size: 2em; }
.service_content_block p, .service_content_block ul { margin-bottom: 1.5em }
.service_content_block ul { padding-left: 2em }
.service_content_block li { position: relative; padding: 0 0 10px 15px; font-size: 15px }
.service_content_block li:before { content: '•'; position: absolute; left: 0; top: 0; color: #008DD5; font-size: 16px }
/*tracking*/
.intro_head div.dash-line { height: 4px; width: 75px; margin-right: 40px }
.intro_head div.dash-line:before { content: ''; background: #008DD5; height: 4px; width: 75px; display: inline-block; vertical-align: top }
.intro_head div.dash-line, .intro_head h1.big-title { display: inline-block; vertical-align: middle }
.web_tracker_text { padding-right: 3em; margin-bottom: 3em }
.tracker_blue_box { background: #008DD5; position: relative; padding: 3em 0; z-index: 15 }
.tracker_blue_box:before, .blue_box:before { content: ''; background: #008DD5; display: block; height: 100%; width: 1000%; position: absolute; right: 100%; top: 0 }
.tracker_blue_box:after { content: ''; background: #fff; display: block; height: 100%; width: 120px; position: absolute; right: -60px; top: 0; transform: skew(15deg); }
.tracker_blue_box header, .blueBoxContent header { color: #fff; font-weight: 700; text-transform: uppercase; font-size: 1.6em; padding-bottom: 0.85em }
.tracker_blue_box p, .blueBoxContent p { font-size: 1.2em; font-weight: 600; color: #002B57; max-width: 70%; padding-bottom: 1.5em }
.tracker_login { position: relative; z-index: 100 }
.tracker_login fieldset { padding-bottom: 1.5em }
.tracker_login label { display: block; color: #000; font-size: 16px; font-weight: 500 }
.tracker_login input[type="text"], .tracker_login input[type="email"], .tracker_login input[type="password"], .tracker_login textarea { background: #fff; border: 2px solid #CBCBCB; width: 100%; height: 50px; padding: 10px }
input[type="submit"] { background: #008DD5; color: #fff; line-height: 45px; border: none; display: inline-block; border-radius: 5px; font-size: 15px; font-weight: 600; padding: 0 2em; }
a.forgot_pw { font-size: 15px; font-weight: 500 }
.tracking_left_content header { color: #000; font-size: 1.7em; padding-bottom: 1em }
.tracking_left_content ul { margin-bottom: 1.5em }
.tracking_left_content li { position: relative; font-size: 16px; font-weight: 600; padding-bottom: 10px; color: #008DD5; padding-left: 25px }
.tracking_left_content li:before { content: ''; background: url('../img/lb-bullet-point.svg') no-repeat 0 0; width: 15px; height: 11px; left: 0; top: 5px; position: absolute; }
.tracking_left_content span { display: block; font-size: 16px; font-weight: 600; color: #000; line-height: 1.7em; margin-bottom: 2.5em }
.how-to-videos a { background: url('../img/device-icon.svg') no-repeat 35px 35px #008DD5; padding: 3em 2em 3em 10em; color: #fff; display: block; max-width: 380px; font-size: 1.2em; font-weight: 600; background-size: 110px 85px; border-radius: 5px; margin-bottom: 3em }
.tracking-image { margin: 0 auto; max-width: 580px }
/*quote*/
.left_section_quote, .right_section_quote { display: inline-block; width:49.5%; vertical-align: top }
.left_section_quote { width: 48% }
.blue_box { background: url('../img/blue_slanted.png') no-repeat right bottom #008DD5; position: relative; padding: 4em 0 3em; }
.blueBoxContent { max-width: 450px; position: absolute; right: 9em; padding-left: 20px }
.blueBoxContent p { max-width: 90% }
p.white_colour { color: #fff }
.quote_image { background: url('../img/quote.png') no-repeat right top; min-height: 525px; background-size: cover; margin-top: 2px }

.quote_form { padding-left: 4em; max-width: 580px }

/*contact us*/
.contact_head_title h1.big-title { font-size: 2.4em }
.office-location-name header { font-size: 2.4em; color: #008DD5; padding-bottom: 10px }
.is_head_office { font-size: 1.3em; color: #000; font-weight: 700; padding-bottom: 15px }
.add_blocks { padding-bottom: 1.2em }
.add_blocks header { color: #008DD5; font-size: 1.3em; font-weight: 600 }
.add_blocks p. .add_blocks p>a { color: #000; font-size:  15px }
.city_list_dropdown { width: 100%; padding-top: 25px }
.city_list_dropdown button { background: #fff; border: solid 1px #ccc; width: 100% }
.city_list_dropdown .dropdown-menu { width: 100%; background: #f7f7f7 }
.city_list_dropdown .dropdown-menu a { display: block; width: 100%; padding: 7px 15px }

/*404 error*/
.aaw-error { padding: 0 20px }
.aaw-error img { max-width: 648px }
.error_message { background: #00ABED; padding: 3em 0; text-align: center }
.txt-error-msg { max-width: 500px; margin: 0 auto }
.txt-error-msg header { color: #fff; font-size: 1.3em; font-weight: 500; padding-bottom: 10px }
.txt-error-msg p { padding: 0; margin: 0; color: #fff; }
.txt-error-msg p>a { color: #000; font-weight: 600; text-decoration: underline; }

/*about us*/
.about-banner { margin-top: 4em }
.about-blue-left { background: #008DD5; position: absolute; width: 50%; left: 0; height: 100%; top: 0 }
.about-bannerimage-right { background: url('../img/staff-pic-1.jpg') no-repeat 0 0; background-size: cover; position: absolute; width: 50%; right: 0; height: 100%; top: 0 }
.banner_text_style header { color: #003151; font-size: 1.1em; font-weight: 700; padding-bottom: 10px }
.banner_text_style header a { color: #003151; }
.banner_text_style header a>i { font-weight: bold; margin-right: 2px  }
.banner_text_style h2 { color: #fff; font-weight: 500; font-size: 1.7em; line-height: 1.55em; padding: 0.7em 0 1.0em }
.banner_text_style p { color: #01314F; }
.team-info-content h2 { color: #008DD5; font-size: 1.75em; line-height: 1.4em; margin-bottom: 0.85em }
.slanting_blue { background: url('../img/slanting_blue.png') no-repeat bottom center; min-height: 207px; position: relative; margin-top: -64px }
.teamimage .container { position: relative; min-height: 207px }
.teamimage .center_two_box { position: absolute; top: 68%; left: 18%; transform: translate(0,-68%); }
.teamimage .center_two_box>div { display: inline-block; max-width: 400px; vertical-align: middle }
.teamimage .center_two_box>div span { display: inline-block; vertical-align: middle;  }
.teamimage .center_two_box>div span.txt { max-width: 240px; color: #fff; padding-left: 20px }
.teamimage .center_two_box>div span img { max-width: 90px }
.two-docks { margin-left: 5em }
.teaminfo { background: url('../img/repeat_dot.png') repeat; position: relative; }
.teaminfo:before { content: ''; background: #fff; min-height: 200px; position: absolute; left: 0; top: 0; width: 100% }
.teaminfo .services_lists { padding-bottom: 2em }
.single_team a { border: solid 1px #ddd; display: block; position: relative; }
.single_team a:after { content: ''; background: #008DD5; width: 80px; height: 5px; position: absolute; bottom: 0; left: 25px; }
.single_team figure { width: 100%; height: 235px; background-position: top center; background-repeat: no-repeat; background-size: cover; max-width: 310px; margin: 0 auto }
.teamnames { background: #fff; padding: 20px 25px }
.teamnames header { color: #2E2E2E; font-size: 16px; padding-bottom: 5px }
.teamnames span { color: #7D7D7D; font-size: 14px; }

.togglecontent_team { position: relative; left: 0; width: 100%; padding: 5em 0; background: #ccc; display: none }
.team_repeat_row { padding-bottom: 30px }


.second-banner-image { background: url('../img/staff-pic-2.jpg') no-repeat top right; background-size: cover; position: absolute; width: 57%; left: 0; height: 100%; top: 0 }
.about-blue-right { background: #008DD5; position: absolute; width: 43%; right: 0; height: 100%; top: 0 }

/*about page*/
#index .nav>li>a { color: #fff }
#index img.homeonly { display: block; }
img.homeonly, #index img.otherpage { display: none }
#about #container, #services #container, #quote #container, #domestic #container, #tracking #container, #contact #container, #error_404 #container { display: none; }
#about .downarrow, #services .downarrow, #quote .downarrow, #domestic .downarrow, #tracking .downarrow, #contact .downarrow, #error_404 .downarrow { display: none }
#about .video_holder, #services .video_holder, #quote .video_holder, #domestic .video_holder, #tracking .video_holder, #contact .video_holder, #error_404 .video_holder { min-height: auto !important; }
#about .text_land_sea_air, #services .text_land_sea_air, #quote .text_land_sea_air, #domestic .text_land_sea_air, #tracking .text_land_sea_air, #contact .text_land_sea_air, #error_404 .text_land_sea_air { display: none; }
li.active a { color: #1B9BC8 }

/*range slider*/
.slider-range { background: url('../img/aaw-bg-02.jpg') no-repeat top center; padding-top: 5em; background-size: cover; border-bottom: solid 62px #1F8BCB }
#value2 { text-align: center; padding-bottom: 9em; color: #fff }
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom:-32px
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.8s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #1F88CB;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 116px;
  width: 263px;
  border-radius: 7px;
  background: url('../img/timeline-slider.svg') no-repeat 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -75px
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1F88CB;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.8s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #1F88CB;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #c00;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.8s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1F88CB;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #1F88CB;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #c00;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #1F88CB;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1F88CB;
}




@media(max-width: 320px){
  .teamimage .center_two_box>div span.txt { font-size: 12px }
  .teamimage .center_two_box { left: 12px !important;}
}


@media(max-width: 440px){
	.CountYears { top: 30px }
	.count_number { font-size: 2.7em; padding: 5px 10px }
	.year_txt { font-size: 14px }
	.how-to-videos a { background-size: 15% 36%; padding: 1.9em 2em 1.5em 6.5em; font-size: 15px }
}

@media(max-width: 480px){
	/*homepage*/
	.plane_bg { min-height: 325px !important }
	/*services*/
	h1.big-title, .services-content-box h2 { font-size: 1.8em !important }
	.service_content_block h3 { font-size: 1.65em !important }
  .navigation { padding-top: 1em !important }
  .content { padding-top: 2em; padding-bottom: 2em }
  .request-quote { padding-top: 2em }

}


@media(max-width: 619px){
	.home-services-lists li { width: 100% }
	/*homepage*/
	.CountYears { width: auto; left: 25% }
	.request-quote-block h2 { font-size: 1.4em }
	.request-quote-block a.button.white { font-size: 15px }
  .intro_head div.dash-line { margin-right: 0; margin-bottom: 20px }
	/*quote*/
	.left_section_quote { width: 100% !important }
	.blue_box { background-image: none }
	.blueBoxContent { max-width: 96% !important }
	/*about*/
	.banner_text_style h2 { font-size: 1.5em }
  .text_land_sea_air h1 { font-size: 4em !important }
  .about-team .team-info-content h2 { font-size: 1.5em; padding-top: 1em }

}

@media(max-width: 767px){
	.navbar-nav>li { padding: 0 10px }
	/*homepage*/
	h2.h2 { font-size: 1.85em }
	header.blue_bold, ul.objective_list li { font-size: 1.5em }
  .state_map { display: none; }
	/*tracking*/
	.web_tracker_text { padding-right: 1em }
	.tracker_blue_box:after, .box_for_title { display: none }
	/*about */
	.team_repeat_row { padding-bottom: 0 }
	.single_team { margin: 0 auto; max-width: 420px; padding-top: 2em }
	.teaminfo:before { min-height: 350px }
	.two-docks { margin-left: 0 }
	.teamimage .center_two_box>div { width: 100%; display: block; max-width: 100% }
	.teamimage .center_two_box>div span.txt { max-width: 68% !important }
	.ship-plane { padding-top: 20px; padding-bottom: 15px }
  /*homepage banner text*/
  .text_land_sea_air h1 { font-size: 6em }
  span.color_bar { display: none }

}

@media(min-width: 768px){
	.container { width: 100% }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0 }
}

@media(max-width: 991px){
	/*reset*/
	.mmb-3em { margin-bottom: 3em }
	.mmb-2em { margin-bottom: 2em }
	/*collapsing navigation*/
	.navbar-header { float: none }
	.navbar-toggle { display: block; margin-top: 10px; padding-right: 0 }
	.navbar-collapse { background: none }
	.navbar-collapse.collapse { display: none!important }
	.navbar-nav { float: none!important; text-align: right; }
	.navbar-nav>li { float: none }
	.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; padding-right: 0; font-size: 18px }
	.navbar-text { float: none; margin: 15px 0 }
	.navbar-collapse.collapse.in { display: block!important; position: relative; z-index: 100 }
	.collapsing { overflow: hidden!important }
	/* up to here collapsing earlier navigation must work */
	.navbar-toggle .icon-bar { background: #1361AB; }
	#index .navbar-toggle .icon-bar { background: #fff; }
  .navbar-brand { padding-top: 0 }
  .navigation { padding-top: 2em }
	/*homepage*/
	.plane_bg { min-height: 525px }
	.years-in-logistic header, .coverage_content header { padding-bottom: 0 }
	header.blue_bold { padding-bottom: 20px }
	.years-in-logistic { padding: 1em 0 }
	.coverage_content { padding: 0 10px }
	.request-quote-block { text-align: center; }
	.request-quote-block h2 { margin-bottom: 1.0em; line-height: 1.55em }
	/*footer*/
	.footer_widget { margin-bottom: 2em }
	/*services*/
	.services_lists { overflow: hidden }
	h1.big-title { max-width: 100%; font-size: 2.5em; }
	h1.big-title.services_head { padding-top: 2em }
	/*quote*/
	.tracker_login input[type="text"], .tracker_login input[type="email"], .tracker_login input[type="password"], .tracker_login textarea { font-size: 16px }
	.quote_image { display: none; }
	.left_section_quote, .right_section_quote { width: 95% }
	.blueBoxContent { position: relative; max-width: 80%; right: auto; }
	.quote_form { padding-top: 3.5em; padding-left: 20px }
	/*contact*/
	.contact_column_right { padding-top: 3em }
	/*about us*/
	.about-blue-left, .about-bannerimage-right { width: 100%; left: 0; }
	.about-banner { background: #008DD5; padding-bottom: 0 }
	.about-blue-left, .about-bannerimage-right, .second-banner-image, .about-blue-right { display: none }
	.staff_pic_odd { border-top: solid 5px #fff }
	.about-banner .banner_text_style { padding-bottom: 3em }
	.about-second-banner { background: #008DD5; padding-top: 0; padding-bottom: 3.0em }
	.about-second-banner .staff_pic_odd { border-top: 0; border-bottom: solid 5px #fff }
	.about-second-banner .banner_text_style { padding-top: 3em }
	.teamimage .center_two_box { left: 20px; }
	.teamimage .center_two_box>div span.txt { max-width: 225px }

}

@media (min-width: 992px){
	.navbar-nav { float: right; padding-top: 28px }
	.nav>li>a { padding: 10px 35px }
	.column_right { padding-left: 6em }
	/*homepage*/
	.home_services_right { padding-left: 6em }
	.left_year { padding-right: 2em }
	.globe_vector { padding-right: 3.5em }
	/*contact*/
	.contact_office_list { max-width: 200px }
	/*about*/
	.about-second-banner { min-height: 525px }


}

@media(min-width: 768px) and (max-width: 991px){
	.web_tracker_text { max-width: 85% }
  /*homevideo text*/
  .text_land_sea_air h1 { font-size: 7em }
  span.helper_txt { font-size: 17px }
  span.color_bar { width: 312px }
}

@media(min-width: 768px) and (max-width: 825px){
	.aaw-offices { overflow: hidden !important }
	.show_office_city { position: absolute; z-index: 40 }
	.show_city_pin { width: 130% }
}
@media(min-width: 826px) and (max-width: 991px){
	.aaw-offices { overflow: hidden !important }
	.show_office_city { position: absolute; z-index: 40 }
	.show_city_pin { width: 130% }
	.state_map { min-height: 780px !important }
}
@media(min-width: 992px) and (max-width: 1124px){
	.aaw-offices { overflow: hidden !important }
	.show_city_pin { width: 115% !important }
}

@media(min-width: 992px) and (max-width: 1199px){
	.nav>li>a { padding: 10px 21px }
	/*homepage*/
	.CountYears { width: auto; left: 25% }
	.plane_bg { min-height: 625px }
	.request-quote-block a.button.white { font-size: 16px }
	.show_office_city { position: absolute; z-index: 40 }
	.show_city_pin { width: 100% }
	.state_map { min-height: 750px }
	/*services*/
	h1.big-title { font-size: 3em }
}

@media(min-width: 1200px){
	.state_map { background-size: contain }
	.tracker_blue_box p { max-width: 385px }
  /*slideing sidebar*/
  .slidewrapper { width: 400px }

}

@media (min-width: 1280px){
	.container { width: 1220px }
	.about-second-banner .banner_text_style { padding-left: 5em }

}
